<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Restaurant</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-grid>
		<ion-row>
			<ion-col>
				<ion-img src="https://ak7.picdn.net/shutterstock/videos/7478347/thumb/1.jpg"></ion-img>
			</ion-col>
			<ion-col>
				<ion-row>
					<ion-label>Restaurant</ion-label>
				</ion-row>
				<ion-row>
					<ion-label>Open 10 a.m. - 10 p.m.</ion-label>
				</ion-row>
				<ion-row>
					<ion-label>Italian Food</ion-label>
				</ion-row>
			</ion-col>
		</ion-row>
		<ion-row>
			<p>
				This restaurant is a dummy, but it supposedly sells the usual Italian cuisine staples. Eat delicious pizza and other Italian dishes at 23rd I. Made This Up Avenue!
			</p>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-button color="primary" expand="full">Menu</ion-button>
			</ion-col>
			<ion-col>
				<ion-button color="secondary" expand="full">Directions</ion-button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
